.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  height:150px;
  border-radius: 10px;
}
.swiper-slide img{
  border-radius: 10px;
}

.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
  position: relative;
}

.demo-swiper {
  margin: 56px auto 0px;
  font-size: 18px;
  height: 170px;
  width: 90%;
}

.demo-swiper.demo-swiper-auto.swiper-slide {
  width: 85%;
}

.demo-swiper.demo-swiper-auto.swiper-slide:nth-child(2n) {
  width: 70%;
}

.demo-swiper.demo-swiper-auto.swiper-slide:nth-child(3n) {
  width: 30%;
}

#app .title {
  text-align: center;
  margin: 0 auto;
  font-family: "Microsoft YaHei";
}

.item {
  float: right;
  bottom: -5px;
  margin-right: 10px;
  display: inherit;

}

.look {
  float: left;
  height: 10px;
  width: 10px;
}

.like {
  bottom: 0px;
  right: 20;
  display: block;
  height: 10px;
  width: 10px;
  line-height: 18px;


}

.like img {
  height: 15px;
  width: 15px;
  line-height: 18px;
  
}

.right-nav {
  float: right;
  right: 20%;
  height: 10px;
  width: 50px;
  display: -webkit-box;
  border-style: none;
}

.item span {
  margin: 0 0 0 10px;
  top: 5px;
  font-size: 5px;
  line-height: 20px;
  display: inherit;
  color:#A5A5A5 ;
}

.date {
  left: 80%;
  margin-top: 0px;
  font-size: 13px;
  color: #8e8e93;
} 

.user {
  text-align: center;
  border: 2px solid #dddddd;
  font-size: 10px;
  color: #dddddd;
  border-radius: 25px;
  position: absolute;
  top:60%;
}
#app .tab-link-highlight{
  bottom: 0px;
}
.bottom-span{
  position: absolute;
  bottom:0px;
  width:100%;
  height: 20px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background: rgba(235, 235, 235, 0.5);
}
#app .swiper-pagination{
  bottom:0px;
}
.item-inner1{
  position: relative;
  margin-left: 10px;
  width: 100%;
  min-width: 0;
  align-items: center;
  padding-top: var(--f7-list-item-padding-vertical);
  padding-bottom: var(--f7-list-item-padding-vertical);
  min-height: var(--f7-list-item-min-height);
  padding-right: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right));
}

.navbar1 {
  --f7-navbar-large-collapse-progress: 0;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  transform: translate3d(0, 0, 0);
  height: 88px;
  background-image: var(--f7-navbar-bg-image, var(--f7-bars-bg-image));
  background-color: var(--f7-navbar-bg-color, var(--f7-bars-bg-color, var(--f7-theme-color)));
  color: var(--f7-navbar-text-color, var(--f7-bars-text-color));
  font-size: var(--f7-navbar-font-size)
}
.moreclose{
  background-color: rgb(64,179,198);
  border-radius: 16px;
  width: 89px;
  height: 32px;
  margin-top:30px;
}
.menu-left{
  border-right: 1px solid #FFFFFF;
  width:44.5px;
  height:18px;
  float: left;
}
.menu-right{
  margin-left:8px;
  width:50%;
  height:18px;
  float: right;
}

